@import '../../../styles/colors';
@import '../../../styles/globalMixins';

.projectContentContainer{
  margin-top: 180px;
  min-height:1000px;
}


.report-tile-container{
  height:100%;
  padding-left:5px;
  padding-right: 5px;
}

.report-tile{
  @include border-radius(1pt);
  height: 100%;
  border-bottom: 6px solid $projectViewProgressBorderLineColor;
  overflow: hidden;
  min-height:350px;

  background-color: $projectViewProgressViewBackgroundMainColor;
  margin-bottom: 10px;
  padding:20px;
}

.report-tile > h3{
  font-size:20px;
}

table{
  margin-top: 25px;
}

table h3{
  margin: 0 0 10px;
}

table td{
  min-width: 100px;
}

app-progress-circle {
  @include absoluteCenter(170px, 160px);
}

