<button
  *ngIf="!bootstrapIcon"
  class="standardButton"
  [ladda]="isLoading"
  [disabled]="!isEnabled"
  data-style="slide-down"
  data-spinner-size="25"
  [ngClass]="[
      icon ? 'hasIcon' : 'noIcon',
      title ? 'hasTitle':'noTitle',
      buttonType == 'normal' ? 'normal':'',
      buttonType == 'secondary' ? 'secondary':'',
      buttonType == 'light' ? 'light':''
      ]"
>

  <img src="{{ icon }}" *ngIf="icon">
  <span *ngIf="title">{{title}}</span>
</button>

<button
  *ngIf="bootstrapIcon"
  class="standardButton hasIcon"
  [ladda]="isLoading"
  [disabled]="!isEnabled"
  data-style="slide-down"
  data-spinner-size="25"
  [ngClass]="[
      icon ? 'hasIcon' : 'noIcon',
      title ? 'hasTitle':'noTitle',
      buttonType == 'normal' ? 'normal':'',
      buttonType == 'secondary' ? 'secondary':'',
      buttonType == 'light' ? 'light':''
      ]"
>

  <i [class]="bootstrapIcon" style="padding-left: 15px; font-size: large; top: 4px;"></i>
  <span *ngIf="title">{{title}}</span>
</button>
